<head>
    <title>Library</title>
</head>
<body>
  <h1 class="text-center"> Library </h1>

<br><h2><a href ="/books">View all Books</a></h2></br>
<br><h2><a href = "/authors">View all Authors</a></h2></br>
